.product-image{
    width: 5em;
    object-fit: cover;
}

.product-icon{
    width: 2.5em;
    object-fit: cover;
}

.card-icon{
    width: 50%;
    object-fit:fill;
}

.check-circle{
    width: 25%;
    object-fit: cover;
}